body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card-header {
    background-color: #dc3545;
    color: white;
}

.list-group-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}
.badge-secondary {
    background-color: #6c757d;
}